.center-1 {
    margin-left: auto;
    margin-right: auto;
    width: 8.33%;
}

.center-2 {
    margin-left: auto;
    margin-right: auto;
    width: 16.66%;
}

.center-3 {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.center-4 {
    margin-left: auto;
    margin-right: auto;
    width: 33.33%;
}

.center-5 {
    margin-left: auto;
    margin-right: auto;
    width: 41.66%;
}

.center-6 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-7 {
    margin-left: auto;
    margin-right: auto;
    width: 58.33%;
}

.center-8 {
    margin-left: auto;
    margin-right: auto;
    width: 66.66%;
}

.center-9 {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.center-10 {
    margin-left: auto;
    margin-right: auto;
    width: 83.33%;
}

.center-11 {
    margin-left: auto;
    margin-right: auto;
    width: 91.66%;
}

.center-12 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container-middle{
    padding-top: 5%;
    padding-bottom: 10px;
}